{% extends 'base_layout.html' %}

{% block content %}

{% if a == "0"%}
<br><br><br><br>
<h1>No Transactions today</h1>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% else %}
	<br><br>
	<table class="table table-stripped table-bordered table-hover">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col">Transaction id</th>
	      <th scope="col">Company</th>
	      <th scope="col">Bought/Sold</th>
	      <th scope="col">Price (per share)</th>
	      <th scope="col">No. of Shares</th>
	      <th scope="col">Total price</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for transaction in t%}
	        <tr>
		      <th scope="row">{{transaction.id}}</th>
		      <td>{{transaction.company}}</td>
		      <td>{{transaction.action}}</td>
		      <td>{{transaction.price_per_share}}</td>
		      <td>{{transaction.quantity}}</td>
		      <td>{{transaction.total_price}}</td>
		    </tr>
		{% endfor %}
	  </tbody>
	</table><br><br>
	Worth of shares sold: ${{sold}}<br><br>
	Worth of shares bought: ${{bought}}<br><br>
	Total {{p_l}}: ${{g_l}}<br><br>
	Current balance: ${{money}}

	<br><br><br><br>

{% endif %}

{% endblock %}