{% extends 'base_layout.html' %}

{% block content %}
<nav>Balance:${{money}}</nav><br><br>
{%if api%}
	{%if api == "Error..."%}
		{{api}}
	{% else %}

	Company: {{h.company}}<br><br>
	Cost price(per share): ${{h.price_per_share}}<br><br>
	Current price (per share): ${{price}}<br><br>
	Quatity: {{quantity}}<br><br>
	Total Selling price: ${{t_price}}<br><br>
	Balance (after transaction): ${{c_balance}}<br><br>
	{{g_l}}: ${{amt}}<br><br>
	<a id="Sell" class="btn btn-primary" href="{% url 'portfolio:sell_share' id=h.id quantity=quantity  %}" type="submit"  role="button" disabled>Sell</a>
	<a class="btn btn-primary" href="{% url 'portfolio:cancel' symbol=h.symbol %}" role="button">Cancel</a>
	{% endif %}
{% endif %}
<br><br><br><br><br><br>
{% endblock %}