{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
      footer a{ color: #ffffff;}
      footer a:hover{ color: #ffffff;}
    </style>
    <title>Stockszilla</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Stockszilla</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'stocks' %}">Company Stocks<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'fav' %}">Favourites<span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="{% url 'portfolio:transaction' %}">Transactions</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'portfolio:holding' %}">Holdings</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'portfolio:report' %}">Today's Report</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="{% url 'portfolio:leaderboard' %}">Leaderboard</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'stocks' %}">
          <form class="logout-link" action="{% url 'accounts:logout' %}" method="POST">
              {% csrf_token %}
              <button class="float-right bg-dark text-white" type="submit" style="position: absolute; right: 0;">Logout</button>
            </form>
            <span class="sr-only">(current)</span></a>
      </li>
      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'accounts:login' %}">Login<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'accounts:signup' %}">Sign Up<span class="sr-only">(current)</span></a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <footer class="bg-dark text-white">
    <div class="container py-3">
        <div class="col-lg-6 col-sm-6 pb-2">
          <h4>Contact Us</h4>
          <p>
            <strong>Phone:</strong> +91-1000000000<br>
            <strong>Email:</strong><a href=""> stockszilla@gmail.com</a><br>
          </p>
        </div>
        <div class="text-center">Developed by Binary Buggers</div> 
    </div>
    <div class="container-fluid text-center bg-secondary py-2">
      &copy; 2020. All rights are reserved.
    </div>
  </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
